.content-slider{
  position:relative;
  width:100%;
  overflow:hidden;
  height:fit-content;
  color:#888;
  border:1px solid #ddd;
}
.content-slider-items{
  display:flex;
  left:0px;
  top:0px;
  width:100%;
  height:fit-content;
  position: relative;
}
.content-slider-item{
  width:100%;
  user-select:none;
  flex-shrink:0;
  display:flex;
  justify-content: center;
}
.content-slider-arrow{
  width:36px;
  height:36px;
  position:absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  top:calc(50% - 18px);
  opacity:0.4;
}
